# Project 1
Adam Ahmed

## Step 1
Open the sat_scores.csv file.  Investigate the data and answer the following questions:

What does the data describe?

    The data shows SAT scores for all 50 states (Verbal and Math) along with the cooresponding participation rates

Does the data look complete?  Are there any obvious issues with the observations?

    The data does look complete.  The only issus was editing the abbreviation of Nebraska.

Create a data dictonary for the dataset

## Step 2
Load the data.

In [37]:
import csv
import urllib2
import numpy as np
import matplotlib
import matplotlib.pyplot as pl
import scipy.stats as stats

Load the data into a list of lists

In [38]:
with open ('sat_scores.csv', 'U') as f:
        reader = csv.reader(f)
        scores = list(reader)

Print the data.

In [39]:
print scores

[['State', 'Rate', 'Verbal', 'Math'], ['CT', '82', '509', '510'], ['NJ', '81', '499', '513'], ['MA', '79', '511', '515'], ['NY', '77', '495', '505'], ['NH', '72', '520', '516'], ['RI', '71', '501', '499'], ['PA', '71', '500', '499'], ['VT', '69', '511', '506'], ['ME', '69', '506', '500'], ['VA', '68', '510', '501'], ['DE', '67', '501', '499'], ['MD', '65', '508', '510'], ['NC', '65', '493', '499'], ['GA', '63', '491', '489'], ['IN', '60', '499', '501'], ['SC', '57', '486', '488'], ['DC', '56', '482', '474'], ['OR', '55', '526', '526'], ['FL', '54', '498', '499'], ['WA', '53', '527', '527'], ['TX', '53', '493', '499'], ['HI', '52', '485', '515'], ['AK', '51', '514', '510'], ['CA', '51', '498', '517'], ['AZ', '34', '523', '525'], ['NV', '33', '509', '515'], ['CO', '31', '539', '542'], ['OH', '26', '534', '439'], ['MT', '23', '539', '539'], ['WV', '18', '527', '512'], ['ID', '17', '543', '542'], ['TN', '13', '562', '553'], ['NM', '13', '551', '542'], ['IL', '12', '576', '589'], ['KY', '12', '550', '550'], ['WY', '11', '547', '545'], ['MI', '11', '561', '572'], ['MN', '9', '580', '589'], ['KS', '9', '577', '580'], ['AL', '9', '559', '554'], ['NB', '8', '562', '568'], ['OK', '8', '567', '561'], ['MO', '8', '577', '577'], ['LA', '7', '564', '562'], ['WI', '6', '584', '596'], ['AR', '6', '562', '550'], ['UT', '5', '575', '570'], ['IA', '5', '593', '603'], ['SD', '4', '577', '582'], ['ND', '4', '592', '599'], ['MS', '4', '566', '551']]

Extract a list of labels from the data, and remove them from the data.

In [40]:
labels = scores[0]
scores.pop(0)
print scores

[['CT', '82', '509', '510'], ['NJ', '81', '499', '513'], ['MA', '79', '511', '515'], ['NY', '77', '495', '505'], ['NH', '72', '520', '516'], ['RI', '71', '501', '499'], ['PA', '71', '500', '499'], ['VT', '69', '511', '506'], ['ME', '69', '506', '500'], ['VA', '68', '510', '501'], ['DE', '67', '501', '499'], ['MD', '65', '508', '510'], ['NC', '65', '493', '499'], ['GA', '63', '491', '489'], ['IN', '60', '499', '501'], ['SC', '57', '486', '488'], ['DC', '56', '482', '474'], ['OR', '55', '526', '526'], ['FL', '54', '498', '499'], ['WA', '53', '527', '527'], ['TX', '53', '493', '499'], ['HI', '52', '485', '515'], ['AK', '51', '514', '510'], ['CA', '51', '498', '517'], ['AZ', '34', '523', '525'], ['NV', '33', '509', '515'], ['CO', '31', '539', '542'], ['OH', '26', '534', '439'], ['MT', '23', '539', '539'], ['WV', '18', '527', '512'], ['ID', '17', '543', '542'], ['TN', '13', '562', '553'], ['NM', '13', '551', '542'], ['IL', '12', '576', '589'], ['KY', '12', '550', '550'], ['WY', '11', '547', '545'], ['MI', '11', '561', '572'], ['MN', '9', '580', '589'], ['KS', '9', '577', '580'], ['AL', '9', '559', '554'], ['NB', '8', '562', '568'], ['OK', '8', '567', '561'], ['MO', '8', '577', '577'], ['LA', '7', '564', '562'], ['WI', '6', '584', '596'], ['AR', '6', '562', '550'], ['UT', '5', '575', '570'], ['IA', '5', '593', '603'], ['SD', '4', '577', '582'], ['ND', '4', '592', '599'], ['MS', '4', '566', '551']]

Create a list of State names extracted from the data.  (HINT: Use the list of labels to index the State column)

In [41]:
first = [item[0] for item in scores]
print first

['CT', 'NJ', 'MA', 'NY', 'NH', 'RI', 'PA', 'VT', 'ME', 'VA', 'DE', 'MD', 'NC', 'GA', 'IN', 'SC', 'DC', 'OR', 'FL', 'WA', 'TX', 'HI', 'AK', 'CA', 'AZ', 'NV', 'CO', 'OH', 'MT', 'WV', 'ID', 'TN', 'NM', 'IL', 'KY', 'WY', 'MI', 'MN', 'KS', 'AL', 'NB', 'OK', 'MO', 'LA', 'WI', 'AR', 'UT', 'IA', 'SD', 'ND', 'MS']

Print the types of each column

In [42]:
for item in scores:
    for i in item:
        print type(i)
    break

<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>

Do any types need to be reassigned?  If so, reassign.

In [43]:
second = [item[1:] for item in scores]
[[int(y) for y in x] for x in second]

third = [[int(y) for y in x] for x in second]
print third

[[82, 509, 510], [81, 499, 513], [79, 511, 515], [77, 495, 505], [72, 520, 516], [71, 501, 499], [71, 500, 499], [69, 511, 506], [69, 506, 500], [68, 510, 501], [67, 501, 499], [65, 508, 510], [65, 493, 499], [63, 491, 489], [60, 499, 501], [57, 486, 488], [56, 482, 474], [55, 526, 526], [54, 498, 499], [53, 527, 527], [53, 493, 499], [52, 485, 515], [51, 514, 510], [51, 498, 517], [34, 523, 525], [33, 509, 515], [31, 539, 542], [26, 534, 439], [23, 539, 539], [18, 527, 512], [17, 543, 542], [13, 562, 553], [13, 551, 542], [12, 576, 589], [12, 550, 550], [11, 547, 545], [11, 561, 572], [9, 580, 589], [9, 577, 580], [9, 559, 554], [8, 562, 568], [8, 567, 561], [8, 577, 577], [7, 564, 562], [6, 584, 596], [6, 562, 550], [5, 575, 570], [5, 593, 603], [4, 577, 582], [4, 592, 599], [4, 566, 551]]

Create a dictionary for each column mapping the state to its respective value for that column

In [44]:
{t[0]:t[1:] for t in scores}

{'AK': ['51', '514', '510'],
 'AL': ['9', '559', '554'],
 'AR': ['6', '562', '550'],
 'AZ': ['34', '523', '525'],
 'CA': ['51', '498', '517'],
 'CO': ['31', '539', '542'],
 'CT': ['82', '509', '510'],
 'DC': ['56', '482', '474'],
 'DE': ['67', '501', '499'],
 'FL': ['54', '498', '499'],
 'GA': ['63', '491', '489'],
 'HI': ['52', '485', '515'],
 'IA': ['5', '593', '603'],
 'ID': ['17', '543', '542'],
 'IL': ['12', '576', '589'],
 'IN': ['60', '499', '501'],
 'KS': ['9', '577', '580'],
 'KY': ['12', '550', '550'],
 'LA': ['7', '564', '562'],
 'MA': ['79', '511', '515'],
 'MD': ['65', '508', '510'],
 'ME': ['69', '506', '500'],
 'MI': ['11', '561', '572'],
 'MN': ['9', '580', '589'],
 'MO': ['8', '577', '577'],
 'MS': ['4', '566', '551'],
 'MT': ['23', '539', '539'],
 'NB': ['8', '562', '568'],
 'NC': ['65', '493', '499'],
 'ND': ['4', '592', '599'],
 'NH': ['72', '520', '516'],
 'NJ': ['81', '499', '513'],
 'NM': ['13', '551', '542'],
 'NV': ['33', '509', '515'],
 'NY': ['77', '495', '505'],
 'OH': ['26', '534', '439'],
 'OK': ['8', '567', '561'],
 'OR': ['55', '526', '526'],
 'PA': ['71', '500', '499'],
 'RI': ['71', '501', '499'],
 'SC': ['57', '486', '488'],
 'SD': ['4', '577', '582'],
 'TN': ['13', '562', '553'],
 'TX': ['53', '493', '499'],
 'UT': ['5', '575', '570'],
 'VA': ['68', '510', '501'],
 'VT': ['69', '511', '506'],
 'WA': ['53', '527', '527'],
 'WI': ['6', '584', '596'],
 'WV': ['18', '527', '512'],
 'WY': ['11', '547', '545']}

## Step 3
Describe the data

Print the min and max of each column

In [45]:
third = [[int(y) for y in x] for x in second]


print max(l[2] for l in third)
print min(l[2] for l in third)

print max(l[1] for l in third)
print min(l[1] for l in third)

603
439
593
482

Write a function using only list comprehensions, no loops, to compute Standard Deviation. Print the Standard Deviation of each numeric column

In [46]:


###THIS CODE IS NOT WORKING!!!
def std_dev(list):
	mn = sum(list)/len(list)
	variance = sum ([(e-mn)**2 for e in list])
	return np.sqrt(variance)

print std_dev(third)

TypeError: unsupported operand type(s) for +: 'int' and 'list'

## Step 4
Visualize the data:

Using MatPlotLib and PyPlot, plot the distribution of the Rate using histograms

In [ ]:
rates = [item[0] for item in second]
rates = [int(i) for i in rates]
print rates

fit = stats.norm.pdf(rates, np.mean(rates), np.std(rates))  

pl.plot(rates,fit,'-o')

pl.hist(rates,normed=True)      
pl.show()

Plot the Math distribution

In [ ]:
mathsat = [item[2] for item in second]
mathsat = [int(i) for i in mathsat]
print mathsat

fit = stats.norm.pdf(mathsat, np.mean(mathsat), np.std(mathsat))  

pl.plot(mathsat,fit,'-o')

pl.hist(mathsat,normed=True)      
pl.show()

Plot the Verbal distribution

In [ ]:
verbalsat = [item[1] for item in second]
verbalsat = [int(i) for i in verbalsat]
print verbalsat

fit = stats.norm.pdf(verbalsat, np.mean(verbalsat), np.std(verbalsat))  

pl.plot(verbalsat,fit,'-o')

pl.hist(verbalsat,normed=True)      
pl.show()

What is the typical assumption for data distribution?

    In regards to normality, it is said to normally distributed when a theres a 'bell-shaped curve' that is symmetrical on either side of the mean.

Does that distribution hold true for our data?

#I had issues with getting standard deviation to work so my answers are probably off in this area...
    The distribution I think holds more or less true for math and less so for verbal.  This is based off looking at the plots from matplotlib; the verbal data is mostly skewed toward the higher and lower ends.

 Plot some scatterplots. BONUS: Use a PyPlot figure to present multiple plots at once.

Are there any interesting relationships to note?

     Clearly the Northern Mid-West of the country has above average Math and Verbal scores.

Create box plots for each variable

BONUS: Using Tableau, create a heat map for each variable using a map of the US